<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="flex min-h-full flex-col bg-white dark:bg-gray-950">
<div class="relative flex-none overflow-hidden px-6 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden bg-gray-950 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem]">
        <svg class="absolute -bottom-48 left-[-40%] h-[80rem] w-[180%] lg:-right-40 lg:bottom-auto lg:left-auto lg:top-[-40%] lg:h-[180%] lg:w-[80rem]"
             aria-hidden="true">
            <defs>
                <radialGradient id=":R5km:-desktop" cx="100%">
                    <stop offset="0%" stop-color="rgba(56, 189, 248, 0.3)"></stop>
                    <stop offset="53.95%" stop-color="rgba(0, 71, 255, 0.09)"></stop>
                    <stop offset="100%" stop-color="rgba(10, 14, 23, 0)"></stop>
                </radialGradient>
                <radialGradient id=":R5km:-mobile" cy="100%">
                    <stop offset="0%" stop-color="rgba(56, 189, 248, 0.3)"></stop>
                    <stop offset="53.95%" stop-color="rgba(0, 71, 255, 0.09)"></stop>
                    <stop offset="100%" stop-color="rgba(10, 14, 23, 0)"></stop>
                </radialGradient>
            </defs>
            <rect width="100%" height="100%" fill="url(#:R5km:-desktop)" class="hidden lg:block"></rect>
            <rect width="100%" height="100%" fill="url(#:R5km:-mobile)" class="lg:hidden"></rect>
        </svg>
        <div class="absolute inset-x-0 bottom-0 right-0 h-px bg-white mix-blend-overlay lg:left-auto lg:top-0 lg:h-auto lg:w-px"></div>
    </div>
    <div class="relative flex w-full lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-y-auto lg:overflow-x-hidden lg:pl-[max(4rem,calc(50%-38rem))]">
        <div class="mx-auto max-w-lg lg:mx-0 lg:flex lg:w-96 lg:max-w-none lg:flex-col lg:before:flex-1 lg:before:pt-6">
            <div class="pb-16 pt-20 sm:pb-20 sm:pt-32 lg:py-20">
                <div class="relative">
                    <svg viewBox="0 0 881 211" fill="white" aria-hidden="true"
                         class="pointer-events-none absolute -right-44 top-14 w-[55.0625rem] origin-top-right rotate-[30deg] overflow-visible opacity-70">
                        <defs>
                            <filter id=":R2pkm:">
                                <feGaussianBlur in="SourceGraphic" stdDeviation=".5"></feGaussianBlur>
                            </filter>
                        </defs>
                        <path stroke="white" stroke-opacity="0.2" stroke-dasharray="1" stroke-dashoffset="1"
                              pathLength="1" fill="transparent" d="M 247,103L261,86L307,104L357,36"
                              class="invisible" style="stroke-dashoffset: 0; visibility: visible;"></path>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="247" cy="103" r="1"
                                    style="transform-origin: 15.4375rem 6.4375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="261" cy="86" r="1"
                                    style="transform-origin: 16.3125rem 5.375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="307" cy="104" r="1"
                                    style="transform-origin: 19.1875rem 6.5rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="357" cy="36" r="1"
                                    style="transform-origin: 22.3125rem 2.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <path stroke="white" stroke-opacity="0.2" stroke-dasharray="1" stroke-dashoffset="1"
                              pathLength="1" fill="transparent" d="M 586,120L516,100L491,62L440,107L477,180L516,100"
                              class="invisible"
                              style="stroke-dashoffset: 0; visibility: visible; fill: rgba(255, 255, 255, 0.02);"></path>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="586" cy="120" r="1"
                                    style="transform-origin: 36.625rem 7.5rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="516" cy="100" r="1"
                                    style="transform-origin: 32.25rem 6.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="491" cy="62" r="1"
                                    style="transform-origin: 30.6875rem 3.875rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="440" cy="107" r="1"
                                    style="transform-origin: 27.5rem 6.6875rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="477" cy="180" r="1"
                                    style="transform-origin: 29.8125rem 11.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <path stroke="white" stroke-opacity="0.2" stroke-dasharray="1" stroke-dashoffset="1"
                              pathLength="1" fill="transparent" d="M 733,100L803,120L879,113L823,164L803,120"
                              class="invisible"
                              style="stroke-dashoffset: 0; visibility: visible; fill: rgba(255, 255, 255, 0.02);"></path>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="733" cy="100" r="1"
                                    style="transform-origin: 45.8125rem 6.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="803" cy="120" r="1"
                                    style="transform-origin: 50.1875rem 7.5rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="879" cy="113" r="1"
                                    style="transform-origin: 54.9375rem 7.0625rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="823" cy="164" r="1"
                                    style="transform-origin: 51.4375rem 10.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="4" cy="4" r="1"
                                    style="transform-origin: 0.25rem 0.25rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="4" cy="44" r="1"
                                    style="transform-origin: 0.25rem 2.75rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="36" cy="22" r="1"
                                    style="transform-origin: 2.25rem 1.375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="50" cy="146" r="1"
                                    style="transform-origin: 3.125rem 9.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="64" cy="43" r="1"
                                    style="transform-origin: 4rem 2.6875rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="76" cy="30" r="1"
                                    style="transform-origin: 4.75rem 1.875rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="101" cy="116" r="1"
                                    style="transform-origin: 6.3125rem 7.25rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="140" cy="36" r="1"
                                    style="transform-origin: 8.75rem 2.25rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="149" cy="134" r="1"
                                    style="transform-origin: 9.3125rem 8.375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="162" cy="74" r="1"
                                    style="transform-origin: 10.125rem 4.625rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="171" cy="96" r="1"
                                    style="transform-origin: 10.6875rem 6rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="210" cy="56" r="1"
                                    style="transform-origin: 13.125rem 3.5rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="235" cy="90" r="1"
                                    style="transform-origin: 14.6875rem 5.625rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="275" cy="82" r="1"
                                    style="transform-origin: 17.1875rem 5.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="306" cy="6" r="1"
                                    style="transform-origin: 19.125rem 0.375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="307" cy="64" r="1"
                                    style="transform-origin: 19.1875rem 4rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="380" cy="68" r="1"
                                    style="transform-origin: 23.75rem 4.25rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="380" cy="108" r="1"
                                    style="transform-origin: 23.75rem 6.75rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="391" cy="148" r="1"
                                    style="transform-origin: 24.4375rem 9.25rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="405" cy="18" r="1"
                                    style="transform-origin: 25.3125rem 1.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="412" cy="86" r="1"
                                    style="transform-origin: 25.75rem 5.375rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="426" cy="210" r="1"
                                    style="transform-origin: 26.625rem 13.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="427" cy="56" r="1"
                                    style="transform-origin: 26.6875rem 3.5rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="538" cy="138" r="1"
                                    style="transform-origin: 33.625rem 8.625rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="563" cy="88" r="1"
                                    style="transform-origin: 35.1875rem 5.5rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="611" cy="154" r="1"
                                    style="transform-origin: 38.1875rem 9.625rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="637" cy="150" r="1"
                                    style="transform-origin: 39.8125rem 9.375rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="651" cy="146" r="1"
                                    style="transform-origin: 40.6875rem 9.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="682" cy="70" r="1"
                                    style="transform-origin: 42.625rem 4.375rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="683" cy="128" r="1"
                                    style="transform-origin: 42.6875rem 8rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="781" cy="82" r="1"
                                    style="transform-origin: 48.8125rem 5.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="785" cy="158" r="1"
                                    style="transform-origin: 49.0625rem 9.875rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="832" cy="146" r="1"
                                    style="transform-origin: 52rem 9.125rem; opacity: 0.2; transform: scale(var(--motion-scale)); --motion-scale: 1;"
                                    filter="url(#:R2pkm:)"></circle>
                        </g>
                        <g class="opacity-0" style="opacity: 1;">
                            <circle cx="852" cy="89" r="1"
                                    style="transform-origin: 53.25rem 5.5625rem; opacity: 1; transform: scale(var(--motion-scale)); --motion-scale: 1;"></circle>
                        </g>
                    </svg>
                    <img alt="logo dc4822" class="mx-auto text-center" style="max-width: 200px" src="{{ "/assets/img/logo.svg"
                    | relative_url }}"/>
                    <h1 class="mt-14 font-display text-4xl/tight font-light text-white">
                        <span class="text-red-300">DC4822</span><br>MEETUP</h1>
                    <p class="my-8 text-lg/6 font-regular text-gray-300">Main slogan</p>
                    <p class="mt-4 text-sm/6 text-gray-300">Subtext</p>
                    <div class="mt-8 flex flex-wrap justify-center gap-x-1 gap-y-3 sm:gap-x-2 lg:justify-start"><a
                            class="flex-none group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition-colors hover:text-red-300 gap-x-3"
                            href="https://ndk.fyi/docs/classes/NDKNip46Signer.html"><span
                            class="absolute inset-0 -z-10 scale-75 rounded-lg bg-white/5 opacity-0 transition group-hover:scale-100 group-hover:opacity-100"></span>
                        <svg viewBox="0 0 16 16" aria-hidden="true" fill="currentColor" class="flex-none h-4 w-4">
                            <path d="M7 3.41a1 1 0 0 0-.668-.943L2.275 1.039a.987.987 0 0 0-.877.166c-.25.192-.398.493-.398.812V12.2c0 .454.296.853.725.977l3.948 1.365A1 1 0 0 0 7 13.596V3.41ZM9 13.596a1 1 0 0 0 1.327.946l3.948-1.365c.429-.124.725-.523.725-.977V2.017c0-.32-.147-.62-.398-.812a.987.987 0 0 0-.877-.166L9.668 2.467A1 1 0 0 0 9 3.41v10.186Z"></path>
                        </svg>
                        <span class="self-baseline text-white">Contact</span></a><a
                            class="flex-none group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition-colors hover:text-red-300 gap-x-3"
                            href="https://nsecbunker.com"><span
                            class="absolute inset-0 -z-10 scale-75 rounded-lg bg-white/5 opacity-0 transition group-hover:scale-100 group-hover:opacity-100"></span>
                        <svg viewBox="0 0 16 16" aria-hidden="true" fill="currentColor" class="flex-none h-4 w-4">
                            <path d="M7 3.41a1 1 0 0 0-.668-.943L2.275 1.039a.987.987 0 0 0-.877.166c-.25.192-.398.493-.398.812V12.2c0 .454.296.853.725.977l3.948 1.365A1 1 0 0 0 7 13.596V3.41ZM9 13.596a1 1 0 0 0 1.327.946l3.948-1.365c.429-.124.725-.523.725-.977V2.017c0-.32-.147-.62-.398-.812a.987.987 0 0 0-.877-.166L9.668 2.467A1 1 0 0 0 9 3.41v10.186Z"></path>
                        </svg>
                        <span class="self-baseline text-white">Meetup</span></a></div>
                </div>
            </div>
            <div class="flex flex-1 items-end justify-center pb-4 lg:justify-start lg:pb-6"><p
                    class="flex items-baseline gap-x-2 text-[0.8125rem]/6 text-gray-500">Last update: 20.10.2024</p>
            </div>
        </div>
    </div>
</div>
<div class="relative flex-auto">
    <div class="pointer-events-none absolute inset-0 z-50 overflow-hidden lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-visible">
        <svg class="absolute left-[max(0px,calc(50%-18.125rem))] top-0 h-full w-1.5 lg:left-full lg:ml-1 xl:left-auto xl:right-1 xl:ml-0"
             aria-hidden="true">
            <defs>
                <pattern id=":R7km:" width="6" height="8" patternUnits="userSpaceOnUse">
                    <path d="M0 0H6M0 8H6" class="stroke-red-900/10 dark:stroke-white/10 xl:stroke-white/10"
                          fill="none"></path>
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#:R7km:)"></rect>
        </svg>
    </div>
    <main class="space-y-20 py-20 sm:space-y-32 sm:py-32">
        {%- for post in site.posts -%}
        <article
                id="{{post.title}}"
                class="scroll-mt-16"
                style="padding-bottom:0"
                itemscope itemtype="http://schema.org/BlogPosting"
        >
            <div>
                <header class="relative mb-10 xl:mb-0">
                    <div class="pointer-events-none absolute left-[max(-0.5rem,calc(50%-18.625rem))] top-0 z-50 flex h-4 items-center justify-end gap-x-2 lg:left-0 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] xl:h-8">
                        <a class="inline-flex" href="/#signers2">
                            <time class="hidden xl:pointer-events-auto xl:block xl:text-2xs/4 xl:font-medium xl:text-white/50"
                                  datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                {{ post.date | date: date_format }}
                            </time>
                        </a>
                        <div class="h-[0.0625rem] w-3.5 bg-gray-400 lg:-mr-3.5 xl:mr-0 xl:bg-gray-300"></div>
                    </div>
                    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
                        <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
                            <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
                                <div class="flex"><a class="inline-flex" href="/#signers2">
                                    <time class="text-2xs/4 font-medium text-gray-500 dark:text-white/50 xl:hidden"
                                          datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                        {{ post.date | date: date_format }}
                                    </time>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
                    <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
                        <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto typography">
                            <h2><a href="#">{{ post.title }}</a></h2>
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>

            <!--            <div>-->
            <!--                <header class="post-header">-->
            <!--                    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>-->
            <!--                    <p class="post-meta">-->
            <!--                        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}"-->
            <!--                              itemprop="datePublished">-->
            <!--                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
            <!--                            {{ page.date | date: date_format }}-->
            <!--                        </time>-->
            <!--                        {%- if page.author -%}-->
            <!--                        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span-->
            <!--                            class="p-author h-card" itemprop="name">{{ page.author }}</span></span>-->
            <!--                        {%- endif -%}-->
            <!--                    </p>-->
            <!--                </header>-->

            <!--                <div class="post-content e-content" itemprop="articleBody">-->
            <!--                    {{ content }}-->
            <!--                </div>-->

            <!--                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>-->
            <!--            </div>-->
        </article>
        {%- endfor -%}
    </main>
</div>
</body>

</html>
