<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="flex min-h-full flex-col bg-white dark:bg-gray-950">
{%- include sidebar.html -%}
<div class="relative flex-auto">
    <div class="pointer-events-none absolute inset-0 z-50 overflow-hidden lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-visible">
        <svg class="absolute left-[max(0px,calc(50%-18.125rem))] top-0 h-full w-1.5 lg:left-full lg:ml-1 xl:left-auto xl:right-1 xl:ml-0"
             aria-hidden="true">
            <defs>
                <pattern id=":R7km:" width="6" height="8" patternUnits="userSpaceOnUse">
                    <path d="M0 0H6M0 8H6" class="stroke-red-900/10 dark:stroke-white/10 xl:stroke-white/10"
                          fill="none"></path>
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#:R7km:)"></rect>
        </svg>
    </div>
    <main class="space-y-20 py-20 sm:space-y-32 sm:py-32">
        <article class="scroll-mt-16" style="padding-bottom:0">
            <div>
                <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
                    <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
                        <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto break-words typography dark:text-slate-400">
                            {{content}}
                        </div>
                    </div>
                </div>
        </article>
    </main>
</div>
</body>

</html>
